<div class="container">
	<div class="card" style="margin: 20px; justify-content: center; padding: 20px;">
		<h4>Incrição</h4>
		<hr>
		<form>
			<div class="form-group mb-4">
				<label>Nome</label>
				<input type="text" class="form-control" placeholder="Nome Completo">
			</div>

			<div class="form-group mb-4">
				<label>Email</label>
				<input type="email" class="form-control" placeholder="Email">
			</div>

			<div class="form-group mb-4">
				<label >Telefone</label>
				<input type="number" class="form-control"  placeholder="Telefone">
			</div>

			<div class="form-group mb-4">
				<label >Curso</label>
				<input type="text" class="form-control"  placeholder="Curso">
			</div>

			<button type="submit" class="btn btn-primary mx-0 d-flex">Submit</button>
		</form>

	</div>
</div>