<div class="card">
	<div class="header">
		<h4 class="title">{{title}}</h4>
	</div>

	<form class="p-3">
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<label>Nome</label>
					<input formControlName="name" type="text" class="form-control" placeholder="Nome">
				</div>
			</div>

			<div class="col-12">
				<div class="form-group">
					<label>Origem</label>
					<input formControlName="origem" type="text" class="form-control" placeholder="Origem">
				</div>
			</div>

			<div class="col-12">
				<div class="form-group">
					<label>Valor</label>
					<input formControlName="valor" type="number" class="form-control" placeholder="Valor">
				</div>
			</div>

			<div class="mt-4 modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-danger float-end mx-2" (click)="closeModal()">Cancelar</button>
				<button type="submit" class="btn btn-success float-end">Cadastrar</button>
			</div>
		</div>
	</form>
</div>