<div class="sidebar">
	<div class="col">
		<h5 class="text-center mt-4">Menu</h5>
		<hr>
		<div class="ps-3">
			<p class="text-start" style="cursor: pointer;" routerLink="/home">
				<i class="ri-table-line me-1"></i>
				<span>Tabela Geral</span>
			</p>
		
			<p class="text-start" style="cursor: pointer;" routerLink="/home">
				<i class="ri-table-line me-1"></i>
				<span>Tabela Luiz</span>
			</p>
		
			<p class="text-start" style="cursor: pointer;" routerLink="/home">
				<i class="ri-table-line me-1"></i>
				<span>Tabela Rob</span>
			</p>
		</div>
	</div>
</div>
