<div class="container">
	<div class="card" style="margin: 20px; justify-content: center; padding: 20px;">
		<h4>Tabela Geral</h4>
		<hr>
		
		<ngx-datatable [rows]="data" class="material" [scrollbarH]="true" columnMode="force" >
	
			<ngx-datatable-column name="id">
				<ng-template let-column="column" ngx-datatable-header-template>Id</ng-template>
				<ng-template let-value="value" ngx-datatable-cell-template>
					<strong>{{ value }}</strong>
				</ng-template>
			</ngx-datatable-column>
	
			<ngx-datatable-column name="name">
				<ng-template let-column="column" ngx-datatable-header-template>Nome</ng-template>
				<ng-template let-value="value" ngx-datatable-cell-template>
					<strong>{{ value }}</strong>
				</ng-template>
			</ngx-datatable-column>
	
			<ngx-datatable-column name="origem">
				<ng-template let-column="column" ngx-datatable-header-template>Origem</ng-template>
				<ng-template let-value="value" ngx-datatable-cell-template>
					<strong>{{ value }}</strong>
				</ng-template>
			</ngx-datatable-column>
	
			<ngx-datatable-column name="valor">
				<ng-template let-column="column" ngx-datatable-header-template>Valor</ng-template>
				<ng-template let-value="value" ngx-datatable-cell-template>
					<strong>{{ value }}</strong>
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>
</div>
