<div class="container">
	<div class="card" style="margin: 20px; justify-content: center; padding: 20px;">
		<h4>Tabela Geral</h4>
		<hr>
		
		<ngx-datatable [rows]="data" [sorts]="[{prop: 'date', dir: 'asc'}]" class="material" [scrollbarH]="true" columnMode="force" [summaryPosition]="'bottom'" [summaryRow]="true">
	
			<ngx-datatable-column name="id" [summaryFunc]="nada">
				<ng-template let-column="column" ngx-datatable-header-template>Id</ng-template>
				<ng-template let-value="value" ngx-datatable-cell-template>
					<strong>{{ value }}</strong>
				</ng-template>
			</ngx-datatable-column>
	
			<ngx-datatable-column name="name">
				<ng-template let-column="column" ngx-datatable-header-template>Nome</ng-template>
				<ng-template let-value="value" ngx-datatable-cell-template>
					<strong>{{ value }}</strong>
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column name="date">
				<ng-template let-column="column" ngx-datatable-header-template>Data</ng-template>
				<ng-template let-value="value" ngx-datatable-cell-template>
					<strong>{{ value | date: "shortDate" }}</strong>
				</ng-template>
			</ngx-datatable-column>
	
			<ngx-datatable-column name="origem">
				<ng-template let-column="column" ngx-datatable-header-template>Origem</ng-template>
				<ng-template let-value="value" ngx-datatable-cell-template>
					<strong>{{ value }}</strong>
				</ng-template>
			</ngx-datatable-column>
	
			<ngx-datatable-column name="valor" [summaryFunc]="soma">
				<ng-template let-column="column" ngx-datatable-header-template>Valor</ng-template>
				<ng-template let-value="value" ngx-datatable-cell-template>
					<strong>{{ value | currency: "BRL" }}</strong>
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>
</div>
